body {
  background-color: lightgray;
} 
  
.Main {
  margin-left: 20px;
  marign-top: 40px;
}

#MainHeader {
  color: red;
  font-weight: bold;
  font-size: 24px;

}

#MainParagraph {
  width: 400px;
}
