body {
  background-color: lightgray;
} 
  
.Main {
  margin-left: 90px;
}

#MainHeader {
  color: red;
  font-weight: bold;
  font-size: 20px;
  margin-top: 60px;

}

#MainParagraph {
  width: 400px;
}
